<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
  <h1><%= @artist.artist_name %>-<%= @item.album_name %>-詳細</h1>

  <table>
    <tr>
      <th>ジャケット</th>
      <th>シングル/アルバム</th>
      <th>ジャンル</th>
      <th>レーベル</th>
      <th>値段</th>
      <th>在庫</th>
      <th>発売日</th>
      <th>(ボタン)</th>
    </tr>
    <tr>
      <td>jacket</td>
      <td>single</td>
      <td>genre</td>
      <td>label</td>
      <td>item_price_tax_free</td>
      <td>stock</td>
      <td>timestamp</td>
      <th>form</th>
    </tr>
  </table>

  <p>含まれているdisc一覧</p>
  <table>
    <tr>
      <th>type</th>
      <th>曲数</th>
      <th>曲名</th>
    </tr>
    <% @discs.each do |disc| %>
    <tr>
      <td><%= disc.disc_type %></td>
      <td>cnt disc</td>
      <td>曲名1</td>
      <td>ボタン</td>
    </tr>
    <tr>
      <td></td>
      <td>cnt disc</td>
      <td>曲名2</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>cnt disc</td>
      <td>曲名3</td>
      <td></td>
    </tr>
    <tr>
      <td>フォーム</td>
      <td></td>
      <td></td>
      <td><%= link_to "このdiscを編集する", admins_artist_item_disc_path(@artist, @item, disc) %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
