/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-link {
	font-size: 16px;
}

.circle-plus-icon {
	font-size: 25px;
	font-family: 'Monoton', cursive;
}



.guest {
	font-size: 20px;
	margin-left: 20px;
}


 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*footerをページ下部に固定させる処理*/

.content {
  min-height: 100%;
}
.content-inside {
  padding-bottom: 50px;
}
.footer {
  height: 60px;
  margin-top: -50px;
  display: table;
  width: 100%;

}
 
#footer-text {
	font-size: 20px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}



// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
